/* Target the main header only */
body > header {
    position: sticky;
    top: 0; 
    background-color: var(--pico-background-color-- );
    box-shadow: 0 0 1rem var (--pico-background-color--)
}

section#hero {

    min-height: 25rem;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    margin-bottom: 5rem;
}


section#hero h1{
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#likes  {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

section#likes article {
    flex: 1;
    min-width: 20rem;
    max-width: 30rem;
}

section.demo div{
    display:flex;
    gap: 1rem;
    background-color: azure;
    padding: 1rem;
}

section.demo div p P{
    font-size: 5rem;
    background-color: hotpink;
    padding: 1rem;

}